<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526396790770-q0m2u6v5787hjoe68t2mp29bidiuboif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526396790770-q0m2u6v5787hjoe68t2mp29bidiuboif</string>
	<key>API_KEY</key>
	<string>AIzaSyAZCOeCkqeQ_x76o7Qgd8xgzwf27v_xnZk</string>
	<key>GCM_SENDER_ID</key>
	<string>526396790770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seryxbank.seryxBank</string>
	<key>PROJECT_ID</key>
	<string>seryx-bank</string>
	<key>STORAGE_BUCKET</key>
	<string>seryx-bank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526396790770:ios:49bed4e3362c9c4af53d6b</string>
</dict>
</plist>